.animated-gradient-text {
  background: linear-gradient(to right, #468f76, #015013, #f87115, #64c175, #ff6b35);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 10s linear infinite;
  display: inline-block;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}